DARAZ_AUTH_CODE=
DARAZ_APP_KEY=
DARAZ_APP_SECRET=
DARAZ_REDIRECT_URI=https://example.com/callback
DARAZ_AUTH_URL=https://api.daraz.com.bd/oauth/authorize?response_type=code&force_auth=true&redirect_uri=${DARAZ_REDIRECT_URI}&client_id=${DARAZ_APP_KEY}
DARAZ_ACCESS_TOKEN=ORDER_START_DATE=2026-01-05
ORDER_END_DATE=2026-01-11